body {
    margin-top: 0;
    margin-left: 0;
    padding-top: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(72 71 71);

}

a{
    text-decoration: none;
    
}
header {
    z-index: 9999;
    top: 0;
    color: white;
    position: sticky;
    width: 100vw;
    margin-top: 0px;
    ;
    text-align: center;

    background-color: #564895;

    /* box-shadow: 0px 3px 15px 0px #c3d9eb; */
}

.sub-nav {
    text-align: center;
    line-height: 1px;
    background-color: #7d6ec1;
}

.sub-nav ul {

    list-style: none;

}

.sub-nav a {
    text-decoration: none;
    color: white;
}

.title {
    display: inline-flex;
}


.timeInput {

    padding: 2px 10px 5px 10px;
    background-color: rgba(36, 183, 236, 0);
    border: 2px solid #efefef;
    border-radius: 20px;
    margin: 2px 10px 0 4px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.timeInput:focus {
    outline-color: #564895;
    outline-width: 1px;

}

.d-none{
    display: none;
}

.btn {
    display: inline-flex;
    gap: 3px;
    align-items: center;
    padding: 5px 10px 5px 10px;
    /* color: white; */
    background-color: rgba(36, 183, 236, 0);
    border: 2px solid #d2d0d0;
    border-radius: 20px;
    margin: 0 4px 0 4px;
}

.btn:hover {
    padding: 5px 10px 5px 10px;
    /* color: white; */
    background-color: rgb(247, 207, 87);
    border: 2px solid #efefef;
    border-radius: 20px;
    margin: 0 4px 0 4px;
}

.btn:active {
    padding: 5px 10px 5px 10px;
    /* color: white; */
    background-color: rgb(214, 174, 52);
    border: 2px solid #efefef;
    border-radius: 20px;
    margin: 0 4px 0 4px;
}

.btnd {
    padding: 5px 10px 5px 10px;
    color: white;
    background-color: rgb(36, 183, 236);
    border: 2px solid #efefef;
    border-radius: 20px;
    margin: 0 4px 0 4px;
}

.btnd:hover {

    transition: transform 0.2s;
    color: white;
    background-color: rgb(36, 183, 236);

}

.btnd:active {

    transition: transform 0.2s;
    color: white;
    background-color: rgb(32, 155, 200);

}

#ca-logo {
    transform: scale(0.5) translate(75px, 15px) rotate(-25deg);
}

.logos {

    transform: translateX(-20px);

}

.logo-caption {
    padding: 1rem 0;
    transform: translateX(-20px);
}

.d-inline-flex {
    text-align: center;
    align-items: center;

    display: inline-flex;
    gap: 1rem;
}

table {
    margin-left: 3px;
    border-radius: 5px;
    /* background-color: #e4e1f3; */
    width: 90%;
    height: 100%;
}

.block {


    border: 1px solid gray;
    border-top: 5px solid #564895;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    /* background-color: #c7c2db; */
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 20px;
    padding: 5px;
    /* border: 2px solid #698094; */

    /* box-shadow: 0px 3px 15px 0px #ebe3c3; */
}


.scheduled {
    border-top: 4px solid #dbb21e;
    /* background-color: #dbdac2; */
}

.scheduled .records {
    background-color: #fcfcec;
}

.completed {
    border-top: 4px solid #24a33e;
    /* background-color: #c2dbc7; */
}

.completed .records {
    background-color: #e2eee5;
}

.blockbody {
    /* background-color: #edebf2; */
    background-image: linear-gradient(70deg, #d4d2dd29, #e9646400);
    padding: 1rem;
    border-radius: 5px;
}

.taskHeader {
    background-color: #e4e3ea;
    font-weight: 700;
    font-style: italic;
    /* border-bottom: 2px solid #698094; */
    padding: 1rem;


}

.newTaskInput {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid #cdc7c2;
    border-radius: 5px;
    height: 10vh;
    width: 100%;

}

.newTaskInput:focus {
    outline: 1px solid #cb8c63;
}

.float-right {
    float: inline-end;

}

.content {

    /* background-color: #7c96ab; */
}

td,
th {
    padding: 0 1rem 0 1rem;
}

.text-center{
    text-align: center;
}
thead {
    top: 0;
    position: relative;
    text-align: left;

}

.scheduled .blockbody:not(.seperate) {
    overflow-y: scroll;
    height: 10vh;
}

.completed .blockbody:not(.seperate) {
    overflow-y: scroll;
    height: 10vh;
}